
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: xx-large;
    font-family: "Indie Flower", cursive;
    font-weight: 900;
    font-style: normal;
}

.login {
    max-height: 780px;
    max-width: 500px;
    margin: auto;
    gap: 6px;
    border-radius: 10px;
    box-shadow: -2px 2px 8px #392e2e;
    border: none;
    padding: 20px; 
    background-color: #f9f9f9; 
    margin-top: 28px;

}
form{
    display: flex;
    flex-direction: column;
}

.login input {
    border: 1px solid #392e2e;
    outline: 0;
    padding: 10px 20px;
    margin: 10px;
    font-size: large;
    background: none;
    border-radius: 8px;
}

label {
    font-size: 24px;
    font-family: "Indie Flower", cursive;
    font-weight: 800;
    padding: 2px;
    margin: 0 10px;
    background: none;
}


form button {
    margin: 10px;
    margin-bottom: 1.6rem;
    outline: 0;
    border: none;
    font-size: 26px;
    font-family: "Indie Flower", cursive;
    font-weight: 800;
    padding: 2px 20px;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(to right, #127820, #17813c);
    transition: background 0.3s ease; 
}

form button:hover {
    background: linear-gradient(to right, #a7c5f1, #5fa5b3);
    border: 1px solid #392e2e;
}
